{% extends 'master.html' %}

{% block title %}Profiles{% endblock title %}

{% block body %}
<style>
   #delete-button {
      color: white;
   }
</style>
<div class="row">
   <div class="col-12">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Create Session</h4>
            <h6 class="card-subtitle"></h6>
            <h6 class="card-title m-t-40"></h6>
            <form class="form-horizontal form-material" method="post" action="{% url 'chrome_profile' %}">
               {% csrf_token %}
               <div class="form-group">
                  <label class="col-md-12">Profile Name</label>
                  <div class="col-md-12">
                     <input name="name" type="text" placeholder="User Profile Name"
                        class="form-control form-control-line">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-12">
                     <button class="btn btn-success">Create Profile</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="col-12">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Registered Users</h4>
            <h6 class="card-subtitle"></h6>
            <h6 class="card-title m-t-40"></h6>
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for list in data %}
                     <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ list.name }}</td>
                        <td>
                           <button class="btn btn-danger" id="{{list.id}}">Delete</button>
                           <button class="btn btn-success" id="{{list.id}}">Activate</button>
                        </td>
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock body %}

{% block script %}
<script>
   $(document).ready(function () {
      $('button.btn-danger').click(function (event) {
         $.ajax({
            url: {% url 'chrome_profile' %},
            method: 'delete',
            contentType: 'application/json; charset=utf-8',
            headers: {
            'X-CSRFToken': '{{csrf_token}}'
         },
            data: JSON.stringify({
               id: event.target.id
            }),
            success: function (response) {
               const fake = new Promise((res, rej) => {
                  res(response['notify'])
               })

               fake.then((e) => {
                  Swal.fire({
                     title: 'Reload ?',
                     confirmButtonText: 'Yes',
                  }).then((result) => {
                     window.location = location.href
                  })
               })
            }
         })
   })
   })

   $('button.btn-success').click(function (event) {
      $.ajax({
         url: {% url 'chrome_login' %},
         method: 'post',
         contentType: 'application/json; charset=utf-8',
         headers: {
         'X-CSRFToken': '{{csrf_token}}'
      },
         data: JSON.stringify({
            id: event.target.id
         })
      })
   })
</script>

{% endblock script %}